<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <div>
        <form action="/animals/<%= animal._id %>?_method=PUT" method="post">
          <fieldset>
            <legend>Edit <%= animal.species %></legend>
            <label
              >Species:<input 
              type="text" 
              name="species" 
              placeholder="name of species"
              value="<%= animal.species %>"
            /></label>
            <label
              >Color:<input
                type="text"
                name="location"
                placeholder="location of the animal"
                value="<%= animal.location %>"
            /></label>
            <label
              >Life Expectancy:<input
                type="text"
                name="lifeExpectancy"
                placeholder="life expectancy of the animal"
                value="<%= animal.lifeExpectancy %>"
            /></label>
            <label
              >Extinct:<input 
              type="checkbox" 
              name="extinct"
              <%= animal.extinct ? "checked" : "" %>
            /></label>
          </fieldset>
          <button>Update Animal</button>
        </form>
      </div>
    </main>
  </body>
</html>